body{
    max-width: 600px;
    margin: auto;
    align-items: center;
    text-align: center;
}

img {
    border-radius: 8px;
    width: 300px;
    height: auto;
}

.one {  
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.two {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}


.three {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cadetblue;
}

*{
    background-color: rgb(192, 212, 192);
}