.img {
    height: auto;
    width: 2px;
}

.one {
    color: lightsalmon;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;  
}

.two {
    color: lightsalmon;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.three {
    color: lightsalmon;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}


*{
    background-color: lightpink;
}
